.body{
    margin: 0px;
}

.background{
    width: 100%;
    height: 100vh;
    background-image: url("resources/2_game_background.png");
    background-repeat: repeat-x;
    background-size: contain;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    opacity: 1;
}

.ninja{
    height: 200px;
    position: absolute;
    margin-top: 640px;
}
.score{
    position: absolute;
    font-size: 100px;
    color:  #ffffff;
    font-family: blackadder ITC;
}

.score2{
    margin-top: 5px;
    position: absolute;
    font-size: 100px;
    color:  #110D08;
    font-family: blackadder ITC;
}


.box{
    width: 200px;
    height: 200px;
    background-image: url("resources/flame.gif");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 700px;
   
    position: absolute;
}

.octupus{
    width: 200px;
    height: 200px;
    background-image: url("resources/Full_Octupus.gif");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 680px;
    position: absolute;
}

.bat{
    width: 200px;
    height: 200px;
    background-image: url("resources/Full_Bat.gif");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 500px;
    position: absolute;
}